
.plan-hero{
  border: 2px black solid;
  width:92vw;
  margin: 0 auto;
  border-radius:2em;
  height: auto;
  padding-bottom: 10%;
  background-image:  url("/src/assets/plan/mobile/image-hero-blackcup.jpg");
  background-size: cover;
  font-family: 'Fraunces', serif;
}

.side-text-plan {
    color:white;
    max-height:100%;
    display:flex;
    width:100%;
    flex-direction: column;
   margin: 10% auto;
   margin-top: 0;
   align-items: center;
   justify-content: flex-start;
}
.side-text-plan p{
width:80%;
font-size: 1.1em;
line-height: 1.5em;
text-align: center;
}

.side-text-plan h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin:5% auto;
    margin-top: 15%;
    text-align:center;
    width:80%;
    font-weight: 900;
}

/* color:white;
max-height:100%;
display:flex;
width:50%;
flex-direction: column;
margin: auto 0;
align-items: center;
justify-content: flex-start;
/src/assets/plan/desktop/image-hero-blackcup.jpg
*/


 

  .create-plan {
    text-decoration:none;
white-space: nowrap;
padding:.8em;
background-color: rgb(14, 134, 132);
color:white;
font-weight: 900;
font-size: 1em;
display:flex;
align-items: center;
text-align: center;
justify-content: center;
border-radius: .5em;
margin:auto;
margin-top: 10%;
cursor: pointer;
  }
.create-plan:hover {
  background-color: rgb(2, 202, 252);
  transform: scale(1.1);
  transition: .3s;
  cursor: pointer;
}

.order-title{
  text-align: center;
}

@media (min-width:700px) {
.plan-hero{
  background:url("/src/assets/plan/tablet/image-hero-blackcup.jpg") no-repeat ;
  background-size: cover;
  ;
}

.side-text-plan {
  width:50%;
  margin:auto 0;
}

.side-text-plan p {
  text-align: left;
  
}

.side-text-plan h1 {
  margin-top: 20%;
  font-size: 3em;
}

.order-title{
  font-size:3em;
}
.create-plan{
  margin-top: 5%;
  width:20%;
}
}

@media (min-width: 1100px) {
  .side-text-plan {
    width:50%;
  }

  .side-text-plan h1 {
    font-size: 5em;
    letter-spacing: .02em;
    margin-top: 15%;
    white-space: nowrap;
  }

  .side-text-plan p {
    text-align: left;
    width: 70%;
  align-self: flex-start;
  margin-left: 25%;
  letter-spacing: 0.1em ;
  }
  .plan-hero{
    width:75vw;
    max-height:50vh;
    background:url("/src/assets/plan/desktop/image-hero-blackcup.jpg") no-repeat ;
    background-size: cover;
   
  }


}